<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
	<appSettings>
		<add key="IrcChannel" value="#octgn-lobby"/>
		<add key="IrcBotName" value="Octgn-Gap"/>
		<add key="IrcServer" value="irc.freenode.net"/>
		<add key="IrcPort" value="6667"/>
		<add key="XmppUsername" value="Octgn-Gap"/>
		<add key="XmppPassword" value="password"/>
		<add key="XmppResource" value="bot"/>
		<add key="XmppServer" value="of.octgn.net"/>
		<add key="MucRoom" value="lobby"/>
		<add key="MucFullRoom" value="lobby@conference.of.octgn.net"/>
	
	</appSettings>
  <log4net>
    <root>
      <!-- Levels: 1=OFF,2=FATAL,3=ERROR,4=WARN,5=INFO,6=DEBUG,7ALL -->
      <level value="ALL" />
      <appender-ref ref="ConsoleAppender" />
    </root>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline %exception" />
      </layout>
    </appender>
  </log4net>
</configuration>